* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    color: #1c1c1c;
    font-family: sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    padding: 15px 10px;
    nav {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            list-style: none;
            gap: 5px;
            font-weight: bold;
            text-transform: uppercase;
            a {
                color: #1c1c1c;
                text-decoration: none;
                &:hover {
                    color: #0282f9;
                }
            }
        }
        input {
            border: none;
            border-bottom: 2px solid #0282f9;
        }
        button {
            border: none;
            background-color: white;
        }
    }
}

.jumbo {
    height: 40vh;
    background-image: url(../images/jumbotron.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}

main {
    background-color: #1c1c1c;
    padding-bottom: 30px;
}

.container {
    padding-top: 60px;
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    row-gap: 30px;
    position: relative;

    .card {
        width: 80px;
        height: 250px;
        color: white;
        flex-basis: calc((100% / 6) - 30px);
        text-align: center;
        transition: all 0.4s;
        &:hover {
            transform: scale(1.1);
            cursor: pointer;
        }
        figure {
            height: 80%;
            width: 100%;
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: top;
            }
        }
        h5 {
            margin-top: 5px;
        }
    }
}

.currentNews {
    position: absolute;
    top: -20px;
    left: 0px;
    color: white;
    background-color: #0282f9;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 5px;
}

.load {
    display: block;
    margin: 0 auto;
    color: white;
    background-color: #0282f9;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 40px;
    border: none;
}

.mainNavigator{
    background-color: #0282f9;
    nav{
        padding-block: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        div{
            display: flex;
            align-items: center;
            color: white;
            text-transform: uppercase;
            font-weight: 500;
            gap: 5px;
            figure{
                width: 80px;
                height: 100px;
                img{
                    height: 100%;
                    width: 100%;
                    object-fit: contain;
                }
            }
        }
        span{
            font-size: 0.9rem;
        }
    }

}